/*  Linking */
/*  -------------------------- Components -------------------------- */
@import "./loader.css";
@import "./clickBtn.css";

/*  -------------------------- Main -------------------------- */

::-webkit-scrollbar {
    display: none;
}

main {
    display: none;
}

/*  ------------ H1 ------------ */

body {
    height: 450px;
    background-image: url("../Assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover; /* Adjusted to cover the entire background */
}

h1 {
    font-size: 72px;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 10%, rgba(252, 70, 107, 1) 47%);
    -webkit-background-clip: text; /* WebKit-based browsers */
    background-clip: text; /* Standard property */
    -webkit-text-fill-color: transparent; /* WebKit-based browsers */
}

.txt {
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    -webkit-background-clip: text; /* WebKit-based browsers */
    background-clip: text; /* Standard property */
    -webkit-text-fill-color: transparent; /* WebKit-based browsers */
}

/*  ------------ CAMERA ------------ */

.camera {
    margin: auto;
    border-radius: 12px;
    height: 300px;
    display: block;
}

/*  ------------ IMAGE ------------ */

#capturedImage {
    display: none;
}
